* {
    box-sizing: border-box;
}

.notes {
    border: 1px solid black;
    width: 50%;
    list-style-type: none;
    text-align: left;
    height: 100;
}

.notesLi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2.5vw;
    padding-bottom: 20px;
}

.noteButton {
    height: 20px;
    border: 1px solid black;
}